<%= simple_form_for @stack, url: manager_stack_path do |form| %>
  <div class="relative">
    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-4xl"><%= t('views.manager.stack.edit_view.title') %></h1>
      <div>
        <%= form.submit t('views.manager.stack.salve'), class: "mr-2 items-center justify-center text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %>
        <%= link_to t('views.manager.stack.back'), manager_stacks_path, class: "mr-2 items-center justify-center text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-3 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %>
      </div>
    </div>
  </div>
  <%= render "form", manager_stack: @stack %>
<% end %>
