<p>
  <strong><%= t 'activerecord.attributes.job_simulation.company' %>:</strong>
  <%= @job_simulation.company %>
</p>
<br>

<h2><%= t('activerecord.models.simulation_question', count: @job_simulation.simulation_questions.count) %></h2>

<%= render 'form', job_simulation: @job_simulation %>




<br>
<%= link_to t('views.job_simulations.links.back'), job_simulations_path %>