<!--<p>-->
<!--  <strong><%#= t 'activerecord.attributes.job_simulation.company' %>:</strong>-->
  <%#= @job_simulation.company %>
<!--</p>-->
<!--<br>-->

<!--<h2><%#= t('activerecord.models.simulation_question', count: @job_simulation.simulation_questions.count) %></h2>-->
<%# @job_simulation.simulation_questions.each do |question| %>
<!--  <hr>-->
<!--  <p><%#= question.description %></p>-->
  <%# if question.answer_type == "answer_check" %>
    <%#= question.answer_check %>
  <%# elsif question.answer_type == "answer_text" %>
    <%#= question.answer_text %>
  <%# elsif question.answer_type == "answer_link" %>
    <%#= question.answer_link %>
  <%# elsif question.answer_type == "answer_file" %>
    <%#= question.answer_file %>
  <%# end %>
<!--  <hr>-->
<%# end %>

<!--<br>-->
<%#= link_to t('views.defaults.links.back'), job_simulations_path %>

<div class="relative">
  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl">Detalhando checklist para candidatura na empresa <%= @job_simulation.company %></h1>
  </div>

  <fieldset>
    <legend>Perguntas</legend>
    <% @job_simulation.simulation_questions.each do |question| %>
      <div class="flex">
        <div class="relative z-0 w-full mb-6 group mt-4">
          <div placeholder=" " readonly="readonly" class="block py-2.5 px-0 w-1/2 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" type="text"><%= question.description %>
            <br>
            <% if question.answer_type == "answer_check" %>
              <%= question.answer_check %>
            <% elsif question.answer_type == "answer_text" %>
              <%= question.answer_text %>
            <% elsif question.answer_type == "answer_link" %>
              <%= question.answer_link %>
            <% elsif question.answer_type == "answer_file" %>
              <%= question.answer_file %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </fieldset>
</div>