<p>
  <strong><%= t 'activerecord.attributes.job_simulation.company' %>:</strong>
  <%= @job_simulation.company %>
</p>
<br>

<h2><%= t('activerecord.models.simulation_question', count: @job_simulation.simulation_questions.count) %></h2>
<% @job_simulation.simulation_questions.each do |question| %>
  <hr>
  <p><%= question.description %></p>
  <hr>
<% end %>

<br>
<%= link_to t('views.job_simulations.links.back'), job_simulations_path %>