<p>
  <strong><%= t 'activerecord.attributes.interview_test.company' %>:</strong>
  <%= @interview_test.company %>
</p>
<br>

<h2><%= t('activerecord.models.interview_question', count: @interview_test.interview_questions.count) %></h2>
<% @interview_test.interview_questions.each do |question| %>
  <hr>
  <p><%= question.description %></p>
  <hr>
<% end %>

<br>
<%= link_to t('views.manager.interview_tests.links.back'), manager_interview_tests_path %>