<h1 class="font-bold text-4xl">Histórico de Versões</h1>
<% @versions.each do |version| %>
  <hr>
  <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5" data-controller="stacks--index">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3">Versão</th>
              <th scope="col" class="px-4 py-3">Usuario</th>
              <th scope="col" class="px-4 py-3">Evento</th>
              <th scope="col" class="px-4 py-3">Data</th>
              <th scope="col" class="px-4 py-3">Alterações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="px-4 py-3"><%= version.id %></td>
              <td class="px-4 py-3"><%= user_name(version.whodunnit) %></td>
              <td class="px-4 py-3"><%= version.event %></td>
              <td class="px-4 py-3"><%= I18n.l(version.created_at, format: :short) %></td>
              <td class="px-4 py-3"><%= version.object %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
<% end %>
