<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.company.name') %></strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.company.description') %></strong>
    <%= company.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.company.linkedin') %></strong>
    <%= company.linkedin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.company.page_web') %></strong>
    <%= company.site %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stack:</strong>
    <%= company.stacks.pluck(:name).join(', ') %>
  </p>

  <% if action_name != "show" %>
    <%= link_to I18n.t('views.manager.company.show'), manager_company_path(company), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to I18n.t('views.manager.company.edit'), edit_manager_company_path(company), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
