<%= simple_form_for([:manager, @company], url: @company.persisted? ? manager_company_path(@company) : manager_companies_path) do |form| %>

  <div class="flex justify-between">
    <div class="flex flex-col w-full">
      <div class="flex">
        <%= form.input :name, placeholder: ' ', wrapper: :vertical_form_full_width %>
      </div>
      <div class="flex">
        <%= form.input :description, placeholder: ' ', wrapper: :vertical_form_full_width %>
      </div>
      <div class="flex">
        <%= form.input :linkedin, placeholder: ' ', wrapper: :vertical_form_full_width %>
      </div>
      <div class="flex">
        <%= form.input :site, placeholder: ' ', wrapper: :vertical_form_full_width %>
      </div>
      <div class="flex flex-col">
        <%= t '.stacks' %>
        <%= form.collection_check_boxes(:stack_ids, Stack.all, :id, :name) %>
      </div>
    </div>
    <%= render "manager/companies/accord" %>
  </div>
<% end %>
