<div class="flex flex-col">
  <div class="flex">
    <%= form.input :profile_picture, as: :file, input_html: { style: 'padding: 0;', class: 'mb-4 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400' } %>
  </div>
</div>

<div class="flex flex-col">
  <div class="flex">
    <%= form.input :email, input_html: { value: profile.user.email, disabled: true } %>
    <%= form.input :name, placeholder: '' %>
    <%= form.input :user_type, collection: Profile.user_types.keys.map { |type| [I18n.t("enum.statuses.#{type}").capitalize, type] }, include_blank: false %>
  </div>
</div>

<div class="flex w-full">
  <%= form.input :bio, placeholder: '', as: :text, input_html: { rows: '3' }, wrapper: :vertical_form_full_width %>
</div>
