<div class="flex flex-col">
  <div class="flex">
    <%= form.input :profile_picture, as: :file, input_html: { style: 'padding: 0;', class: 'mb-4 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400' } %>
  </div>
</div>

<div class="flex flex-col">
  <div class="flex">
    <%= form.input :email, input_html: { value: profile.user.email, disabled: true } %>
    <%= form.input :name, placeholder: '' %>
    <%= form.input :user_type, collection: Profile.user_types.keys.map { |type| [I18n.t("enum.statuses.#{type}").capitalize, type] }, include_blank: false %>
  </div>
</div>

<div class="flex w-full">
  <%= form.input :bio, placeholder: '', as: :text, input_html: { rows: '3' }, wrapper: :vertical_form_full_width %>
</div>


<div class="mx-auto max-w-screen-xl px-4 lg:px-12">
  <h1 class="font-bold text-4xl mb-4">Skills</h1>

  <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-4 py-3">Description</th>
          <th scope="col" class="px-4 py-3">Level</th>
        </tr>
        </thead>
        <tbody>
        <% profile.skills.uniq.each do |skill| %>
          <tr class="border-b">
            <td class="py-3 px-4"><%= skill.description %></td>
            <td class="py-3 px-4">
              <%= form.simple_fields_for :experiences, profile.experiences.find_by(skill_id: skill.id) do |experience_form| %>
                <%= experience_form.input :level, collection: Experience.levels, include_blank: false, wrapper: :select_form_input %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
