<div id="<%= dom_id profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('views.manager.profile.show_view.user') %>:</strong>
    <%= profile.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('views.manager.profile.show_view.name') %>:</strong>
    <%= profile.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('views.manager.profile.show_view.user_type') %>:</strong>
    <%= t("enum.statuses.#{profile.user_type}").capitalize %>
  </p>
</div>
